body {
  font-family: 'prata', serif;
}

.color {
  color: #919191;
}

.white-text {
  color: white;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}


/*Navigation, on the right*/
.flex {
  display: flex;
  justify-content: space-between;
}

.flex h1 {
  line-height: 20px;
  padding-left: 25px;
}

nav {
  padding: 25px 50px 0 0;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
}

.color a:hover {
  text-decoration: none;
  color: #e46594;
}

.color a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  padding-left: 20px;
}

/*Skills section, with pink background*/
.background {
  background-image: url('../img/background-image-bestbig.png');
  background-size: cover;
  height: 700px;
  font-family: 'Open Sans', cursive;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

#skills {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px 0;
}

#skills i {
  color: #ff6840;
}

#skills p {
  font-size: 32px;
}

#skills h2 {
  font-size: 48px;
}

/*About section*/
#about {
  font-size: 32px;
  line-height: 42px;
  /*padding: 25px 0 0 50px;
  margin-top: 0px;*/
}

#gray-background {
  background-color: #d3d3d3;
  height: 400px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*Work Section*/
#work {
  margin-bottom: 60px;
  padding-top: 25px;
  text-align: center;
}

#work img {
  width: 49%;
  height: auto;
}

/*Contact Section, in footer*/
#email {
  padding-left: 25px;
}

footer a {
  padding: 0 25px 75px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #919191;
}

/*RESUME*/

/*Boxes for work, education, and web development*/
#pink-background {
    background-image: url('../img/background.jpg');
}

.box {
  background: linear-gradient(rgba(145, 145, 145, .5), rgba(145, 145, 145, .5));
  width: 80%;
  height: 275px;
  margin: 0 0 25px 25px;
  color: white;
  padding-top: 15px;
}

.third-width h1 {
  padding-left: 50px;
  text-align: left;
  color: white;
}

.background h1 {
  margin: auto;
}

/*Skills bars*/

.container {
  width: 100%;
  background-color: #919191;
  height: 25px;
}

/*.float {
  float: left;
}*/

.skill {
  text-align: right;
  color: white;
}

.flex-test {
  display: flex;
  align-items: center;
  justify-content: center;
}

#html {
  width: 80%;
  background-color: #e06090;
}

#css {
  width: 80%;
  background-color: #e06090;
}

#javascript {
  width: 30%;
  background-color: #e06090;
}

#photoshop {
  width: 20%;
  background-color: #e06090;
}

#padding-top {
  padding-top: 50px;
}
/*WORK PAGE*/
#work-page {
  text-align: center;
}

#work-examples {
  display: flex;
  justify-content: center;
}

#work-examples img {
  width: 100%;
  margin: auto;
}
